@{
    ViewData["Title"] = "Login";
}

<h2>Login Page</h2>
@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}
<form method="post">
    <label>Email:</label><br />
    <input type="text" name="email" /><br /><br />

    <label>Password:</label><br />
    <input type="password" name="password" /><br /><br />

    <button type="submit">Login</button>
</form>